.ui-page {
  background:ghostwhite;
  height: 100%;
}

#panel_text_container {
  border: 2px solid #C0C0C0;
  border-radius: 5px;
  padding: 1em;
  font-size: 12px;
  text-align: center;
}

#logoutBtn{
  float:right;
  position: relative;
}

#register_text {
  position: fixed;
  left: 4em;
  color: white;
  font-family: ‘Hoefler Text’, Garamond, Georgia, ‘Times New Roman’, Times, serif;
}

#login_logo {
  display: flex;
  position: relative;
  left: 5em;
  padding: 20px 20px 20px 20px;
  height: 13em;
}

#login_box {
  position:fixed;
  left: 5%;
  top:40%;
  background-color:#8CCFDF;
  border-radius: 25px;
  border: 2px solid #034F71;
  padding: 1em;
  width: 80%;
  height: 42%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#login_title {
  position: fixed;
  left: 36%;
  bottom: 59%;
  font-family: ‘Hoefler Text’, Garamond, Georgia, ‘Times New Roman’, Times, serif;
}

#register_box {
  position:fixed;
  left: 5%;
  top:40%;
  background-color:#8CCFDF;
  border-radius: 25px;
  border: 2px solid #034F71;
  padding: 1em;
  width: 80%;
  height: 42%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#register_title {
  position: fixed;
  left: 27%;
  bottom: 59%;
  font-family: ‘Hoefler Text’, Garamond, Georgia, ‘Times New Roman’, Times, serif;
}

#top_bar {
  display:flex;
  margin-left: 1em;
}

#search_icon {
  height: 3em;
  position:inherit;
  margin-right: 1em;
}

.ui-input-search {
  margin-right: 1em !important;
}

#register_logo {
  display: flex;
  position: relative;
  left: 5em;
  padding: 20px 20px 20px 20px;
  height: 13em;
}

[data-role="page"] {
  min-height: 100% !important;
}

#main_logo {
  height:3em;
  float:left
}

.nav_button {
  float: left;
  border: 1px solid darkblue;
  border-radius:0px;
}

#chat_body{
  height: 80%;
  width: 95%;
  position: fixed;
  left: 0.4em;
  top: 5em;
  border-style: solid;
  border-color: #8CCFDF;
  border-radius: 10px;
  background-color: white;
}

#single_chat_profile_pic {
  float: right;
  position: fixed;
  left: 22em;
  top: 2em;
}

#chat_footer {
  position: fixed;
  overflow: scroll;
  top: 43em;
}

.btns_list {
  width: 100%;
  border-radius: 4px;
  background-color: #545454;
  color:white;
}

#contacts_list {
  position: fixed;
  top: 13%;
}

#header {

}

.chat_header {

}

#chat_title {
  font-family: ‘Hoefler Text’, Garamond, Georgia, ‘Times New Roman’, Times, serif;
  color: #076B91;
  position: fixed;
  left: 0.3em;
}

#search {
}

#chat_textbox {
  
}