#login_box {
  position:fixed;
  left:40%;
  top:31%;
  background-color:white;
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  width: 372px;
  height: 126px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#register_box {
  position:fixed;
  left:40%;
  top:31%;
  background-color:white;
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  width: 772px;
  height: 326px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav_button {
  float: left;
  border: 1px solid darkblue;
  border-radius:0px;
}